
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');


/* Componentes */
@import "./header.css";
@import "./botoes.css";

/* Reset Css */
*{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 30px auto;
}

.row {
  display: flex;
  flex-direction: row;
}